<mat-card class="w-100">
  <mat-card-content>
    <h4 class="mb-56">Add Form</h4>
    <form [formGroup]="form" (ngSubmit)="add()">
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Coursename</mat-label>
        <input matInput formControlName="coursename" />
        <mat-error *ngIf="handleError('coursename', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Coursedescription</mat-label>
        <input matInput formControlName="coursedescription" />
        <mat-error *ngIf="handleError('coursedescription', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Coursetype</mat-label>
        <input matInput formControlName="coursetype" />
        <mat-error *ngIf="handleError('coursetype', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Duration</mat-label>
        <input matInput formControlName="duration" type="number" />
        <mat-error *ngIf="handleError('duration', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Coursefee</mat-label>
        <input matInput formControlName="coursefee" type="number" />
        <mat-error *ngIf="handleError('coursefee', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Add</button>
    </form>
  </mat-card-content>
</mat-card>
